{% extends 'fitnessapp/partials/base_workout_form.html' %}

{% block title_text %}
  Создать новую тренировку
{% endblock %}

{% block form_action %}
  {% url 'workout' %}
{% endblock %}

{% block submit_button_text %}
  Завершить тренировку
{% endblock submit_button_text %}

{% block additional_fields %}
  <!-- Добавляем поле обновления веса (только для "done") -->
  <div class="mb-3">
    <label for="tracked_weight" class="form-label">Текущий вес (кг):</label>
    <input
      type="number"
      step="0.1"
      class="form-control form-control-sm"
      style="font-size:16px;"
      name="tracked_weight"
      id="tracked_weight"
      placeholder="Например, 70.5"
    >
  </div>
{% endblock additional_fields %}